@font-face {
    font-family: 'Inter';
    src: url("../fonts/Inter/Inter-VariableFont_slnt,wght.ttf") format('truetype');
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    transition: 0.5s;
    overflow-x: hidden;
}

header {
    background-color: #37BC9B;
    padding: 7px 20px;
    position: relative;
}

.header-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.header-container > :nth-child(1) {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 200px;
}

.header-container > :nth-child(2) {
    width: 50%;
}

.header-container > :nth-child(2) > form > input {
    width: 100%;
    height: 50px;
    font-size: 24px;
    border-radius: 10px;
    border: none;
    padding: 0 30px;
    outline: none;

}

.header-container > :nth-child(2) > form {
    position: relative;
}


:focus ::placeholder{
    color: transparent;
}

:focus:-moz-placeholder {
    color: transparent;
}

:focus::-moz-placeholder {
    color: transparent;
}

:focus:-ms-input-placeholder {
    color: transparent;
}




.header-container > .account-block {
    width: 20%;
}

.header-container > .account-block > .account-link {
    text-align: right;
}


.header-container > .account-block > .account-link > * {
    color: #FFFFFF;
    font-size: 20px;
}


.header-logo {
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 700;
    cursor: pointer;

}


.header-menu {
    width: 50px;
    height: 50px;
    background-image: url("../images/изображение 2.png");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.search-img {
    background-image: url("../images/[removal 1.png");
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: calc(50% - 20px);
    right: 30px;
}

.main-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}


.sidebar {
    width: 440px;
    min-height: calc(100vh - 64px);
    background-color: #CCD1D9;
}

.main-content {
    width: 80%;
    min-height: calc(100vh - 64px);
    padding: 10px 0;
}

.main-content-wrapper > section:not(section.best) > .section-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}

.main-content-wrapper > section:not(section.best) {
    margin-bottom: 40px;
}


.main-content-wrapper > section:not(section.best) > .section-head > * {
    display: block;
    margin: 0;
    border-radius: 10px;
}

.main-content-wrapper > section:not(section.best) > .section-head > h3 {
    font-size: 32px;

}

.book-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    overflow-x: hidden;
    position: relative;
    transition: 0.5s ease;
}

.book-container > .book {
    width: 200px;
    margin: 0 20px;
    cursor: pointer;
    flex-shrink: 0;
}

.book-container > .book > .book-image {
    height: 300px;
    background-color: #D9D9D9;
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
}

.book-container > .book > .book-image > img {
    border: none;
    object-fit: cover;
    object-position: center;
}

.book-container > .book > .book-title {
    height: 30px;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s ease;
}

.book-title:hover {
    color: #5D9CEC;
}


.sidebar {
    padding: 0 20px;
    width: 20%;
    z-index: 199;
}

section.popular-authors > .popular-author-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

section.popular-authors > .popular-author-container > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


section.popular-authors > .popular-author-container > * > .author-image {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    margin-bottom: 20px;
    overflow: hidden;
}

section.popular-authors > .popular-author-container > * > .author-title {
    width: 100%;
    height: 20px;
    border-radius: 10px;
    margin-bottom: 5px;
    text-align: center;
}


section.popular-authors > .popular-author-container > * > .author-title-bottom {
    width: 60%;
    height: 20px;
    border-radius: 10px;
    text-align: center;
}


section.best {
    background-color: #D9D9D9;
    padding: 0 0 50px 0;
}

.main-content-wrapper > * {
    margin: 0 40px;
}

.slider {
    padding: 40px 30px;
}

.slider > h2 {
    font-size: 32px;
    margin: 0 0 30px 10%;
    width: 50%;
    border-radius: 10px;
}

.slider-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
}

.book-slider > .book-slider-image {
    width: 200px;
    height: 300px;
    background-color: #C8C8C8;
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
}

.book-slider > .book-slider-image > img {
    object-fit: cover;
    object-position: center;
}

.sidebar > h2 {
    border-radius: 10px;
}

.book-slider > .book-slider-title {
    width: 200px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.book-slider > .book-slider-title > span {
    font-size: 16px;
    color: #5D9CEC;
    font-weight: 300;
}

.genre-slider > .slider-book-description {
    width: 650px;
    height: 250px;
    border-radius: 10px;
    padding: 10px;
}

.genre-slider-title {
    text-align: center;
    margin: 10px 0;
    font-size: 26px;
    border-radius: 10px;
}

.footer-container {
    background-color: #37BC9B;
    padding: 80px 30px 20px 30px;
}

.footer-container > .footer-logo {
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 700;
}

.sidebar > ul {
    list-style: none;
    height: 600px;
    padding: 0;
    overflow: clip;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
}

.sidebar > ul > li {
    min-width: 60px;
    height: auto;
    margin: 10px;
    border-radius: 10px;
    padding: 5px;
    background-color: #37BC9B;
}

.sidebar > ul > li:hover {
    color: #308cff;
}

.sidebar > ul > li > a {
    text-align: left;
    font-size: 16px;
    line-height: 16px;
    color: #FFF;
}


.account-block > div {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.account-block > div > * {
    cursor: pointer;
}

img {
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: none;
    text-decoration: none;
}


.account-block > div > .favourite_books {
    height: 50px;
}

.account-block > div > .profile {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    border-radius: 50%;
    overflow: hidden;
}

.account-block > div > .profile > img {
    object-fit: cover;
    object-position: center;
}

.author {
    text-align: center;
    font-size: 14px;
    color: #C5C5C5;
    transition: 0.3s ease;
}

.author:hover {
    color: #5D9CEC;

}

.left-btn, .right-btn {
    position: absolute;
    width: 60px;
    height: 60px;
    top: calc(50% - 30px);
    border-radius: 50%;
    background-image: url("../images/pngwing.com.png");
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.3s ease;
}

.left-btn:hover, .right-btn:hover {
    background-color: #D9D9D9;
}

.popular-books {
    position: relative;
}

.left-btn {
    left: -25px;
    transform: rotate(180deg);
}

.right-btn {
    right: -35px;
}

.new-books {
    position: relative;
}

li.preloader-animation {
    width: 90%!important;
    height: 30px!important;
    display: block!important;
    padding: 0;
    background-color: #C5C5C5;
}